body{background:url(../img/古典纹理027.jpg);color: white;}
.hide{display: none;}
.show{display: initial;}

.comWidth{width: 80%;margin-left: auto;margin-right: auto;}
.myheader{width: 100%;height: 200px;border: #66512C solid 5px;}
.myheader img{width: 100%;height: 100%;}

.navbar {margin-bottom: 0;}
.nav_position{margin-top: -55px;width: 100%;}
.navbar-inverse{opacity: 0.8;border-left:#66512C solid 5px;border-right:#66512C solid 5px;border-bottom: none;border-top: none;}
.navbar-inverse .navbar-brand {color: #66512C;font-weight: bold;}
.text ,.pictures,.about-btn{font-weight: bold;}
.navbar-inverse .navbar-nav .text  a:focus{color: #66512C;}
.navbar-inverse .navbar-nav .pictures a:focus, .navbar-inverse .navbar-nav .about-btn a:focus{color: #66512C;font-size: 14px;}

.panel {background-color: #8A6D3B;}
.panel-default .panel-heading{background-color: #FFEFBF;}
.panel-title p{float: right;margin-right: 20px;}
.list a,.list1 a{font:18px "microsoft yahei", "微软雅黑" ;color: #000;text-decoration: none;font-weight: bold;margin-left: 30px;}
.add-border{border: #66512C solid 5px;}



.about{width: 100%;height: 448px;border: #66512C solid 5px;position: relative;z-index: -10;}
.about img{width: 100%;height: 438px;}
.about h3{color: #000000;display: inline-block;position: absolute;font-weight: bold;color: #66512C;
          font-size: 24px;
    -webkit-transition:font-size 0.2s ease-out;}

@media only screen and (max-width: 1200px) { .about h3{ font-size: 24px; }}
@media only screen and (max-width: 1100px) { .about h3{ font-size: 23px; }}
@media only screen and (max-width: 1000px) { .about h3{ font-size: 22px; }}
@media only screen and (max-width: 900px) { .about h3{ font-size: 21px; }}
@media only screen and (max-width: 800px) { .about h3{ font-size: 20px; }}
@media only screen and (max-width: 700px) { .about h3{ font-size: 19px; }}
@media only screen and (max-width: 600px) { .about h3{ font-size: 18px; }}


.about .name{left: 50px;top: 90px;}
.about .school{left:300px ;top: 90px;}
.about .soft{left:550px ;top: 90px;}
.about p.content{font-size: 20px;position: absolute;top: 200px;left: 120px;display: inline-block;width: 600px;text-align: center;color: #000;}
.about .tel{left: 200px;top: 370px;color: #FFFF99;}
.about img.myName{width: 200px;height: 80px;position: absolute;top: 280px;left: 600px;}
