    <div id="so360" style="position:fixed;top:80px;right:20px">
      <form action="http://www.so.com/s" target="_blank" id="so360form">
        <input type="text" autocomplete="off" name="q" id="so360_keyword">
        <input type="submit" id="so360_submit" value="搜 索">
        <input type="hidden" name="ie" value="utf8">
        <input type="hidden" name="src" value="zz_xushiwei.top">
        <input type="hidden" name="site" value="xushiwei.top">
        <input type="hidden" name="rg" value="0">
      </form>
    </div>