---
layout: default
title: everyday
header: Posts By Tag
---
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/common.css"/>
	<script src="../js/jquery-3.1.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
 <div class="wrapper">
        <div class="home" style="margin-top: 70px;margin-left: -160px;">

<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        <div id="navigation">
        	<h1>目录</h1>
      		<ul class="nav sidenav">
			  	
          	</ul>
        </div>
      </div>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
          <div class="home">
           {% for post in site.posts %}
          	{% if post["type"] == "everyday" %}
              <ol class="row" style="list-style: none;">
          	  
                  
                
                 <li class="col-md-9"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    	           	<li class="col-md-3" style="float:right;"><span>{{ post.user }} / {{ post.date | date: "%F" }}</span></li>   
             
              </ol>
              {% endif %} 
             {% endfor %}
          
        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>