<!DOCTYPE html>
<html lang="en">
    
      <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{site.title}}</title>
  <meta name="description" content="许世伟的个人博客，记录生活中点点滴滴，记录美好人生！">
  <meta name="keywords"  content="个人博客,许世伟个人博客,许世伟,大数据,技术博客,生活博客,xushiwei,IT博客,WEB技术,网页设计">
  <meta name="baidu-site-verification" content="nH1L4gMioh" />
  <meta name="msvalidate.01" content="CD6E02DDCC8914B04C39924BB20D2164" />
  <meta name="360-site-verification" content="fc0c6af753d1c9aeee7cf24f7cc03d39" />
  <link rel="stylesheet" href="/assets/main.css"> 
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/common.css"/>
  <script src="../js/jquery-3.1.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  
</head>
	
	<body>
       {% include header.html %}
		
        <hr />
		<main class="page-content" aria-label="Content">
			<div class="wrapper">
				{{ page.content }}

			</div>
		</main>

		{% include footer.html %}

	</body>

</html>