<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{site.title}}</title>
  <meta name="description" content="许世伟的个人博客，记录生活中点点滴滴，记录美好人生！">
  <meta name="keywords"  content="个人博客,许世伟个人博客,许世伟,大数据,技术博客,生活博客,xushiwei,IT博客,WEB技术,网页设计">
  <meta name="baidu-site-verification" content="nH1L4gMioh" />
  <meta name="360-site-verification" content="334180817aa560c1dd003108adbcf896" />
  <meta name="msvalidate.01" content="CD6E02DDCC8914B04C39924BB20D2164" />
  <meta name="360-site-verification" content="fc0c6af753d1c9aeee7cf24f7cc03d39" />
  <link rel="stylesheet" href="/assets/main.css"> 
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/feed.xml">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/common.css"/>
  <link rel="stylesheet" type="text/css" href="/css/search360.css"/>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
  <!--[if lt IE 9]>
  <script src="js/html5.js"></script>
  <![endif]-->
  
  <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <script src="/js/baidu_hm.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/qihu.js" type="text/javascript" charset="utf-8"></script>
  
</head>

  <body>

    {% include header.html %}
    <!--<h2>
    	<a class="site-title" href="/">{{ site.title }}</a>
    </h2>--> 
    <hr />
    <main class="page-content" aria-label="Content">
    	{% include left.html %}
      <div class="wrapper">
        <div class="home">
            <h1 class="page-heading">文章</h1>
            {{ content }}

            <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>

        </div>
      </div>
    </main>

    {% include search360.html %}
     
    {% include footer.html %}
    
  </body>

</html>
