<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{site.title}}</title>
  <meta name="description" content="许世伟的个人博客，记录生活中点点滴滴，记录美好人生！">
  <meta name="keywords"  content="个人博客,许世伟个人博客,许世伟,大数据,技术博客,生活博客,xushiwei,IT博客,WEB技术,网页设计">
  <meta name="baidu-site-verification" content="nH1L4gMioh" />
  <meta name="360-site-verification" content="334180817aa560c1dd003108adbcf896" />
  <meta name="msvalidate.01" content="CD6E02DDCC8914B04C39924BB20D2164" />
  <meta name="360-site-verification" content="fc0c6af753d1c9aeee7cf24f7cc03d39" />
  <meta name="360-site-verification" content="1aff7117093b8aa19bcd460568b6b810" />
  <link rel="stylesheet" href="/assets/main.css"> 
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/feed.xml">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/common.css"/>
  <link rel="stylesheet" type="text/css" href="/css/search360.css"/>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
  <!--[if lt IE 9]>
  <script src="js/html5.js"></script>
  <![endif]-->
  
  <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <script src="/js/baidu_hm.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/qihu.js" type="text/javascript" charset="utf-8"></script>
  
</head>

  <body>

    {% include header.html %}
    <!--<h2>
    	<a class="site-title" href="/">{{ site.title }}</a>
    </h2>--> 
    <hr />
    <script type="text/javascript">
    function browserRedirect() {
      var sUserAgent = navigator.userAgent.toLowerCase();
      var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
      var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
      var bIsMidp = sUserAgent.match(/midp/i) == "midp";
      var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
      var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
      var bIsAndroid = sUserAgent.match(/android/i) == "android";
      var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
      var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
      if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
        document.writeln("");
      } else {
        document.writeln('{% include left.html %}');
      }
    }

    browserRedirect();
  </script>
    <main class="page-content" aria-label="Content">
    	
      <div class="wrapper">
        <div class="home">
            <h1 class="page-heading">文章</h1>
            <ul class="post-list">
              {% for post in site.posts %}
	              {% if post["type"] != "everyday" %}
                  <li>
        
                  <!--  <span class="post-meta">{{post.date | date: "%Y-%m-%d %H:%M"}}</span>-->

                    <h2>
                      <a class="post-link" href="{{post.url}}">{{post.title}}</a>
                    </h2>
		                <!--<p>{{ post.description }}</p>-->
		                <p >{{ post.content | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
		                <div style="">        
                      <time datetime="{{post.date | date: date_to_xmlschema}}" class="" style="float: left;">
                        <img src="/images/calendar.png" width="20px" /> 
                          {{ post.date | date: "%F"}}
                      </time> 
                      <div class = "" style="float: left;margin-left: 15px;">
                         <img src="/images/tag-icon.svg" width="20px" /> 
                      </div>
                      <a href="/tag" style="float: left;">
                         <div class = "" style="float: left;margin-left: 5px;">
                         <span class="">{{ post.tags }}</span>
                         </div>
                         <div class = "" style="float: right;"> 
                          <a class="" href={{ post.url }}>阅读全文 » 
                      </a>
                      </div>
                      </div>
                      <div style=" clear:both"></div>
                  </li>
	              {% endif %}
              {% endfor %}    
            </ul>

            <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>

        </div>
      </div>
    </main>

    {% include search360.html %}
     
    {% include footer.html %}
    
  </body>

</html>
