<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/common.css"/>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery-tapir.min.js" type="text/javascript" charset="utf-8"></script>
  <link rel="canonical" href="{{page.url}}">
  <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/feed.xml">
  <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</head>
<body>
  	
  
  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="home" style="margin-top: 70px;">
        <article class="post">

          <div class="post-content">
     
           {{ page.content }} 
   
          </div>

        </article>
      </div>
    </div>
  </main>
  
   {% include footer.html %}

</body>

</html>
