<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page.title}}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="baidu-site-verification" content="nH1L4gMioh" />
  <meta name="msvalidate.01" content="CD6E02DDCC8914B04C39924BB20D2164" />
  <meta name="360-site-verification" content="334180817aa560c1dd003108adbcf896" />
  <meta name="360-site-verification" content="fc0c6af753d1c9aeee7cf24f7cc03d39" />
  <meta name="360-site-verification" content="1aff7117093b8aa19bcd460568b6b810" />
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/common.css"/>
  <link rel="stylesheet" type="text/css" href="/css/search360.css"/>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery-tapir.min.js" type="text/javascript" charset="utf-8"></script>
  <link rel="canonical" href="{{page.url}}">
  <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/feed.xml">
  <script src="/js/baidu_hm.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/qihu.js" type="text/javascript" charset="utf-8"></script>
  <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  
</head>


<body id="top">
	  {% include header.html %}
  <hr>
  <main class="page-content" aria-label="Content">
	  <div class="wrapper">
		  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
			  <header class="post-header">
			   	<h1 class="post-title" style="font-size:2em" itemprop="name headline">{{page.title}}</h1>
				  <p class="post-meta">
				  	<img src="/images/calendar.png" width="20px"/>
				   	<time datetime="{{ page.date }}" itemprop="datePublished">
        
            {{ page.date | date: "%b %d, %y" }}
            </time>
            <a style="float: right;font-color:black;" href="javascript:void(0)" onclick="javascript:history.back(-1)">返回</a>
			  	</p>
			  </header>

			  <div class="post-content" itemprop="articleBody">

			  	{{ page.content }}

			  </div>

		  </article>
		  
		  <ul class="pager">
        {% if page.previous.url %}
        <li class="previous">
            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">上一篇：  <span>{{page.previous.title | strip_html | strip_newlines | truncate:20}}</span>
            </a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">下一篇：  <span>{{page.next.title | strip_html | strip_newlines | truncate:20}}</span>
            </a>
        </li>
        {% endif %}
   </ul>
		  <!-- UY BEGIN -->
		  <div id="uyan_frame"></div>
		  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2138707"></script>
		  <!-- UY END -->
	  </div>
	  
  </main>
  
  {% include search360.html %}
  {% include post_footer.html %}
  {% include totop.html %}
  <script type="text/javascript">
    function browserRedirect() {
      var sUserAgent = navigator.userAgent.toLowerCase();
      var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
      var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
      var bIsMidp = sUserAgent.match(/midp/i) == "midp";
      var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
      var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
      var bIsAndroid = sUserAgent.match(/android/i) == "android";
      var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
      var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
      if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
        document.writeln("");
      } else {
        document.writeln('<div class="ad" style="position: fixed;top: 96px;left: 0;">'+
  	            '<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="200" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=xswwj-20&marketplace=amazon&region=US&placement=0887276407&asins=0887276407&linkId=50c416b2004d69193422cc74778b18d7&show_border=true&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">'
  	           +'</iframe>'
  	           +'<br>'
  	           +'<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_br_asin_til&ad_type=product_link&tracking_id=xswwj-20&marketplace=amazon&region=US&placement=0262035618&asins=0262035618&linkId=fd92101c07e839aad2932d9d697c5c7d&show_border=true&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">'
               +'</iframe>'
  	
               +'</div>');
      }
    }

    browserRedirect();
  </script>
  

</body>

</html>
