<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page.title}}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="baidu-site-verification" content="nH1L4gMioh" />
  <meta name="msvalidate.01" content="CD6E02DDCC8914B04C39924BB20D2164" />
  <meta name="360-site-verification" content="fc0c6af753d1c9aeee7cf24f7cc03d39" />
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/common.css"/>
  <link rel="stylesheet" type="text/css" href="/css/search360.css"/>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
  <link rel="canonical" href="{{page.url}}">
  <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/feed.xml">
  <script src="/js/baidu_hm.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/qihu.js" type="text/javascript" charset="utf-8"></script>
  
</head>


<body>
  {% include header.html %}

  <hr>
  <main class="page-content" aria-label="Content">
	  <div class="wrapper">
		  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
			  <header class="post-header">
			   	<h1 class="post-title" itemprop="name headline">{{page.title}}</h1>
				  <p class="post-meta">
				   	<time datetime="{{ page.date }}" itemprop="datePublished">
        
            {{ page.date | date: "%b %d, %y" }}
            </time>
			  	</p>
			  </header>

			  <div class="post-content" itemprop="articleBody">

			  	{{ page.content }}

			  </div>

		  </article>
		  <!-- UY BEGIN -->
		  <div id="uyan_frame"></div>
		  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2138707"></script>
		  <!-- UY END -->
	  </div>
  </main>
  
  {% include search.html %}

  {% include footer.html %}

</body>

</html>
